.box{
    padding: 20px;
    margin: 20px;
    width: 50px;

}

.dashed{
    border: 1px blue dashed;
}

.dotted{
    border: 1px blue dotted;
}

.double{
    border: 5px blue double;
}

.groove{
    border: 15px lightgrey groove;
}

.inset{
    border: 15px lightgrey inset;
}

.outset{
    border: 15px lightgrey outset;
}

.ridge{
    border: 15px lightgrey ridge;
}

.solid{
    border: 1px blue solid;
}

.button{
    padding: 10px;
    margin: 3px;
    float: left;
    border: 16px lightgrey outset;
    background: white;
}

.button:hover{
    border-style: inset;
    background: lightgrey;
}