.button{
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 15px lightgrey outset;
    outline: 5px solid black;
    border-radius: 50%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-family: arial;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: arial;
    font-weight: bold;
    line-height: 100px;
    background-color: red;
    background: -moz-linear-gradient(top, red 0%, darkred 100%);
    background: -webkit-linear-gradient(top, red 0%, darkred 100%);
    background: linear-gradient(top, red 0%, darkred 100%);
}

.button:hover{
    background-color: darkred;
    background: -moz-linear-gradient(bottom, red 0%, darkred 100%);
    background: -webkit-linear-gradient(bottom, red 0%, darkred 100%);
    background: linear-gradient(bottom, red 0%, darkred 100%);
}