/*********************************************
*
* Author: Grzegorz Uberman
* Date: 11.08.22
*
*********************************************/

body{
    color: red;
}

div{
    color: blue;
}

p{
    color: darkcyan;
}

a{
    color: green;
    text-decoration: none
}